<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="get_products()">All Users</ion-button>
    <ion-list>
        <ul>
            <li *ngFor="let product of products" >
              -- id: {{product.id}}
              -- fullname: {{product.fullname}}
              -- phno: {{product.phno}}
              -- emailid: {{product.emailid}}
            </li>
          </ul> 
          <!-- <pre>Data Obtained is: {{ products | json }}</pre> -->
    </ion-list>
  
</ion-content>
